<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    
    <title> gerenciador de biblioteca</title>
</head>

<body>

    <nav style="background-color: aquamarine !important"class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">cadastra-me</span>
        </div>
    </nav>
    <div container="container">
        <h1> cadastro de usuario </h1>
        nome<input type="text">
        idade<input type="text">
        ano de frenquecia <input type="text">
        curso <input type="text">
        <input> cadastrar</input> 
        

</div>

</form>c
</body>

</html>
<!--  <> </> -->